<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReatACar.Helpers.Properties.Settings.ConnectionPath"
            connectionString="Data Source=.;Initial Catalog=RentACar_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>